@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
}

nav {
  width: 100%;
  background-color: #1C1D21;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
nav .nav__header {
  color: white;
}
nav .nav__header span {
  color: #97BDAB;
  font-size: 35px;
  padding: 0 10px;
  font-weight: 900;
}
nav select {
  width: 80%;
  height: 30px;
}
nav .nav__list {
  display: none;
}
@media screen and (min-width: 744px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  nav select {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    padding: 0 90px;
  }
  nav select {
    display: none;
  }
  nav .nav__list {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 20px;
    position: relative;
  }
  nav .nav__list .nav__list-item-white {
    color: #97A9BD;
    font-size: 20px;
    list-style-type: none;
  }
  nav .nav__list .nav__list-item {
    padding: 20px 0;
    font-size: 20px;
    list-style-type: none;
  }
  nav .nav__list .nav__list-item span:hover {
    color: #97A9BD;
    transition: 0.5s;
    cursor: pointer;
  }
  nav .nav__list .nav__parent-list {
    z-index: 2;
    position: absolute;
    list-style-type: none;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list .nav__child-item {
    width: 200px;
    height: 40px;
    background-color: rgba(151, 169, 189, 0.6941176471);
    border-bottom: 1px solid rgba(255, 255, 255, 0.342);
    padding: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list .nav__child-item:hover {
    background-color: #97A9BD;
  }
  nav .nav__list :hover .nav__parent-list {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list-one {
    z-index: 2;
    position: absolute;
    list-style-type: none;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list-one .nav__child-item-one {
    width: 200px;
    height: 40px;
    background-color: rgba(151, 169, 189, 0.6941176471);
    border-bottom: 1px solid rgba(255, 255, 255, 0.342);
    padding: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list-one .nav__child-item-one:hover {
    background-color: #97A9BD;
  }
  nav .nav__list :hover .nav__parent-list-one {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  nav .nav__list .level-item {
    position: absolute;
    list-style-type: none;
    left: 200px;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  nav .nav__list .level-item .child-level {
    width: 200px;
    height: 40px;
    background-color: rgba(151, 169, 189, 0.6941176471);
    border-bottom: 1px solid rgba(255, 255, 255, 0.342);
    padding: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }
  nav .nav__list .level-item .child-level:hover {
    background-color: #97A9BD;
  }
  nav .nav__list :hover > .level-item {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
}

.container-two {
  background-image: url("../image/wedding.jpg");
  width: 100%;
  color: white;
  text-align: center;
  padding: 70px 0;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.container-two .black__container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.189);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.container-two .container__header {
  margin-top: 90px;
  font-size: 25px;
  padding: 0 30px;
}
@media screen and (min-width: 744px) {
  .container-two .container__header {
    font-size: 60px;
    padding: 0 100px;
  }
}
@media screen and (min-width: 1024px) {
  .container-two .container__header {
    padding: 0 290px;
  }
}
.container-two .container__paragraph {
  margin-top: 40px;
  line-height: 30px;
}
@media screen and (min-width: 744px) {
  .container-two .container__paragraph {
    padding: 0 70px;
  }
}
@media screen and (min-width: 1024px) {
  .container-two .container__paragraph {
    padding: 0 350px;
  }
}
.container-two button {
  margin-top: 30px;
  width: 220px;
  height: 45px;
  background-color: #97A9BD;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.container-two button:hover {
  background-color: transparent;
  border: 1px solid white;
}

.container-three {
  background-color: #F4F4F4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-three .main-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-three .wraper-container {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-three .wraper-container .box {
  padding: 0 20px;
  text-align: center;
  width: 270px;
  background-color: #97A9BD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 45px 0 45px 0;
  transform: translateY(-40px);
  top: -50px;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.container-three .wraper-container .box:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px 0px black;
}
.container-three .wraper-container .box:hover .cr {
  background-color: #97A9BD;
  color: white;
}
.container-three .wraper-container .box .cr {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #97A9BD;
}
.container-three .wraper-container .box h4 {
  margin-top: 20px;
}
.container-three .wraper-container .box p {
  font-size: 15px;
  margin-top: 20px;
}
.container-three .wraper-container .box-one {
  padding: 0 20px;
  text-align: center;
  width: 270px;
  background-color: #A197BD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 45px 0 45px 0;
  transform: translateY(-40px);
  top: -50px;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.container-three .wraper-container .box-one:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px 0px black;
}
.container-three .wraper-container .box-one:hover .cr {
  background-color: #A197BD;
  color: white;
}
.container-three .wraper-container .box-one .cr {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #A197BD;
}
.container-three .wraper-container .box-one h4 {
  margin-top: 20px;
}
.container-three .wraper-container .box-one p {
  font-size: 15px;
  margin-top: 20px;
}
.container-three .wraper-container .box-two {
  padding: 0 20px;
  text-align: center;
  width: 270px;
  background-color: #BDA697;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 45px 0 45px 0;
  transform: translateY(-40px);
  top: -50px;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.container-three .wraper-container .box-two:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px 0px black;
}
.container-three .wraper-container .box-two:hover .cr {
  background-color: #BDA697;
  color: white;
}
.container-three .wraper-container .box-two .cr {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #BDA697;
}
.container-three .wraper-container .box-two h4 {
  margin-top: 20px;
}
.container-three .wraper-container .box-two p {
  font-size: 15px;
  margin-top: 20px;
}
.container-three .wraper-container .box-three {
  padding: 0 20px;
  text-align: center;
  width: 270px;
  background-color: #97BDAB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 45px 0 45px 0;
  transform: translateY(-40px);
  top: -50px;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.container-three .wraper-container .box-three:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px 0px black;
}
.container-three .wraper-container .box-three:hover .cr {
  background-color: #97BDAB;
  color: white;
}
.container-three .wraper-container .box-three .cr {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #97BDAB;
}
.container-three .wraper-container .box-three h4 {
  margin-top: 20px;
}
.container-three .wraper-container .box-three p {
  font-size: 15px;
  margin-top: 20px;
}
@media screen and (min-width: 744px) {
  .container-three .wraper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }
  .container-three .wraper-container .box {
    width: 170px;
    height: 300px;
  }
  .container-three .wraper-container .box-one {
    width: 170px;
    height: 300px;
  }
  .container-three .wraper-container .box-two {
    width: 170px;
    height: 300px;
  }
  .container-three .wraper-container .box-three {
    width: 170px;
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .container-three .wraper-container {
    gap: 20px;
  }
  .container-three .wraper-container .box {
    width: 250px;
    height: 300px;
  }
  .container-three .wraper-container .box-one {
    width: 250px;
    height: 300px;
  }
  .container-three .wraper-container .box-two {
    width: 250px;
    height: 300px;
  }
  .container-three .wraper-container .box-three {
    width: 250px;
    height: 300px;
  }
}

.container-four {
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.container-four .img-wraper:hover .box-container {
  background-color: #97A9BD;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}
.container-four .img-wraper:hover .cr {
  background-color: white;
  color: #97A9BD;
  transition: 0.5s;
}
.container-four img {
  width: 250px;
  box-shadow: 0px 0px 2px 0px black;
}
.container-four .box-container {
  height: 40px;
  width: 250px;
  box-shadow: 0px 0px 2px 0px black;
  transform: translateY(-5px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container-four .box-container .cr {
  width: 35px;
  height: 35px;
  background-color: #97A9BD;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
@media screen and (min-width: 744px) {
  .container-four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  .container-four img {
    width: 280px;
  }
  .container-four .box-container {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .container-four {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .container-four img {
    width: 450px;
  }
  .container-four .box-container {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */