@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
}

nav {
  width: 100%;
  background-color: #1C1D21;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
nav .nav__header {
  color: white;
}
nav .nav__header span {
  color: #97BDAB;
  font-size: 35px;
  padding: 0 10px;
  font-weight: 900;
}
nav select {
  width: 80%;
  height: 30px;
}
nav .nav__list {
  display: none;
}
@media screen and (min-width: 744px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  nav select {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    padding: 0 90px;
  }
  nav select {
    display: none;
  }
  nav .nav__list {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 20px;
    position: relative;
  }
  nav .nav__list .nav__list-item-white {
    color: #97A9BD;
    font-size: 20px;
    list-style-type: none;
  }
  nav .nav__list .nav__list-item {
    padding: 20px 0;
    font-size: 20px;
    list-style-type: none;
  }
  nav .nav__list .nav__list-item span:hover {
    color: #97A9BD;
    transition: 0.5s;
    cursor: pointer;
  }
  nav .nav__list .nav__parent-list {
    z-index: 2;
    position: absolute;
    list-style-type: none;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list .nav__child-item {
    width: 200px;
    height: 40px;
    background-color: rgba(151, 169, 189, 0.6941176471);
    border-bottom: 1px solid rgba(255, 255, 255, 0.342);
    padding: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list .nav__child-item:hover {
    background-color: #97A9BD;
  }
  nav .nav__list :hover .nav__parent-list {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list-one {
    z-index: 2;
    position: absolute;
    list-style-type: none;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list-one .nav__child-item-one {
    width: 200px;
    height: 40px;
    background-color: rgba(151, 169, 189, 0.6941176471);
    border-bottom: 1px solid rgba(255, 255, 255, 0.342);
    padding: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }
  nav .nav__list .nav__parent-list-one .nav__child-item-one:hover {
    background-color: #97A9BD;
  }
  nav .nav__list :hover .nav__parent-list-one {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  nav .nav__list .level-item {
    position: absolute;
    list-style-type: none;
    left: 200px;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  nav .nav__list .level-item .child-level {
    width: 200px;
    height: 40px;
    background-color: rgba(151, 169, 189, 0.6941176471);
    border-bottom: 1px solid rgba(255, 255, 255, 0.342);
    padding: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  }
  nav .nav__list .level-item .child-level:hover {
    background-color: #97A9BD;
  }
  nav .nav__list :hover > .level-item {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
}

.container-two {
  background-image: url("../image/wedding.jpg");
  width: 100%;
  color: white;
  text-align: center;
  padding: 70px 0;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.container-two .black__container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.189);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.container-two .container__header {
  margin-top: 90px;
  font-size: 25px;
  padding: 0 30px;
}
@media screen and (min-width: 744px) {
  .container-two .container__header {
    font-size: 60px;
    padding: 0 100px;
  }
}
@media screen and (min-width: 1024px) {
  .container-two .container__header {
    padding: 0 290px;
  }
}
.container-two .container__paragraph {
  margin-top: 40px;
  line-height: 30px;
}
@media screen and (min-width: 744px) {
  .container-two .container__paragraph {
    padding: 0 70px;
  }
}
@media screen and (min-width: 1024px) {
  .container-two .container__paragraph {
    padding: 0 350px;
  }
}
.container-two button {
  margin-top: 30px;
  width: 220px;
  height: 45px;
  background-color: #97A9BD;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.container-two button:hover {
  background-color: transparent;
  border: 1px solid white;
}

.container-three {
  background-color: #F4F4F4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-three .main-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-three .wraper-container {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-three .wraper-container .box {
  padding: 0 20px;
  text-align: center;
  width: 270px;
  background-color: #97A9BD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 45px 0 45px 0;
  transform: translateY(-40px);
  top: -50px;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.container-three .wraper-container .box:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px 0px black;
}
.container-three .wraper-container .box:hover .cr {
  background-color: #97A9BD;
  color: white;
}
.container-three .wraper-container .box .cr {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #97A9BD;
}
.container-three .wraper-container .box h4 {
  margin-top: 20px;
}
.container-three .wraper-container .box p {
  font-size: 15px;
  margin-top: 20px;
}
.container-three .wraper-container .box-one {
  padding: 0 20px;
  text-align: center;
  width: 270px;
  background-color: #A197BD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 45px 0 45px 0;
  transform: translateY(-40px);
  top: -50px;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.container-three .wraper-container .box-one:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px 0px black;
}
.container-three .wraper-container .box-one:hover .cr {
  background-color: #A197BD;
  color: white;
}
.container-three .wraper-container .box-one .cr {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #A197BD;
}
.container-three .wraper-container .box-one h4 {
  margin-top: 20px;
}
.container-three .wraper-container .box-one p {
  font-size: 15px;
  margin-top: 20px;
}
.container-three .wraper-container .box-two {
  padding: 0 20px;
  text-align: center;
  width: 270px;
  background-color: #BDA697;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 45px 0 45px 0;
  transform: translateY(-40px);
  top: -50px;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.container-three .wraper-container .box-two:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px 0px black;
}
.container-three .wraper-container .box-two:hover .cr {
  background-color: #BDA697;
  color: white;
}
.container-three .wraper-container .box-two .cr {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #BDA697;
}
.container-three .wraper-container .box-two h4 {
  margin-top: 20px;
}
.container-three .wraper-container .box-two p {
  font-size: 15px;
  margin-top: 20px;
}
.container-three .wraper-container .box-three {
  padding: 0 20px;
  text-align: center;
  width: 270px;
  background-color: #97BDAB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 45px 0 45px 0;
  transform: translateY(-40px);
  top: -50px;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.container-three .wraper-container .box-three:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px 0px black;
}
.container-three .wraper-container .box-three:hover .cr {
  background-color: #97BDAB;
  color: white;
}
.container-three .wraper-container .box-three .cr {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #97BDAB;
}
.container-three .wraper-container .box-three h4 {
  margin-top: 20px;
}
.container-three .wraper-container .box-three p {
  font-size: 15px;
  margin-top: 20px;
}
@media screen and (min-width: 744px) {
  .container-three .wraper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }
  .container-three .wraper-container .box {
    width: 170px;
    height: 300px;
  }
  .container-three .wraper-container .box-one {
    width: 170px;
    height: 300px;
  }
  .container-three .wraper-container .box-two {
    width: 170px;
    height: 300px;
  }
  .container-three .wraper-container .box-three {
    width: 170px;
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .container-three .wraper-container {
    gap: 20px;
  }
  .container-three .wraper-container .box {
    width: 250px;
    height: 300px;
  }
  .container-three .wraper-container .box-one {
    width: 250px;
    height: 300px;
  }
  .container-three .wraper-container .box-two {
    width: 250px;
    height: 300px;
  }
  .container-three .wraper-container .box-three {
    width: 250px;
    height: 300px;
  }
}

.container-four {
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.container-four .img-wraper:hover .box-container {
  background-color: #97A9BD;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}
.container-four .img-wraper:hover .cr {
  background-color: white;
  color: #97A9BD;
  transition: 0.5s;
}
.container-four img {
  width: 250px;
  box-shadow: 0px 0px 2px 0px black;
}
.container-four .box-container {
  height: 40px;
  width: 250px;
  box-shadow: 0px 0px 2px 0px black;
  transform: translateY(-5px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container-four .box-container .cr {
  width: 35px;
  height: 35px;
  background-color: #97A9BD;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
@media screen and (min-width: 744px) {
  .container-four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  .container-four img {
    width: 280px;
  }
  .container-four .box-container {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .container-four {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .container-four img {
    width: 450px;
  }
  .container-four .box-container {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
  }
}

.container-five {
  width: 100%;
  background-image: url("../images/background-02.jpg");
  text-align: center;
  padding: 70px 0;
  color: white;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.container-five .container-blue {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 169, 189, 0.5058823529);
  top: 0;
  z-index: -1;
}
.container-five .container-header {
  padding: 0 40px;
  padding-bottom: 40px;
}
.container-five .main-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.container-five .box-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.container-five .box-wraper .item-box {
  color: black;
  width: 270px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 15px;
  height: 310px;
  cursor: pointer;
  transition: 0.5s;
}
.container-five .box-wraper .item-box .cr-box {
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #97A9BD;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 25px;
}
.container-five .box-wraper .item-box h4 {
  padding: 0 20px;
  margin-top: 20px;
}
.container-five .box-wraper .item-box .container__paragraph-one {
  font-size: 13px;
  margin-top: 20px;
}
.container-five .box-wraper .item-box:hover {
  background-color: #97A9BD;
  color: white;
}
.container-five .box-wraper .item-box:hover .cr-box {
  background-color: white;
  color: #97A9BD;
}
@media screen and (min-width: 744px) {
  .container-five .box-wraper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 90%;
  }
  .container-five .box-wraper .item-box {
    width: 220px;
    height: 310px;
  }
  .container-five .box-wraper .item-box .cr-box {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .container-five .box-wraper {
    width: 100%;
    gap: 50px;
  }
  .container-five .box-wraper .item-box {
    width: 350px;
  }
}

.container-six {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 0;
  text-align: center;
}
.container-six p {
  padding: 0px 20px;
}
.container-six h3 {
  padding: 0px 20px;
}
.container-six .box {
  width: 280px;
  height: 280px;
  position: relative;
  border-radius: 50%;
}
.container-six .box .line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.379);
  top: 0;
  left: calc(50% - 1px);
}
.container-six .box .line-two {
  transform: rotate(22.5deg);
}
.container-six .box .line-three {
  transform: rotate(45deg);
}
.container-six .box .line-four {
  transform: rotate(67.6deg);
}
.container-six .box .line-five {
  transform: rotate(90deg);
}
.container-six .box .line-six {
  transform: rotate(112.5deg);
}
.container-six .box .line-seven {
  transform: rotate(135deg);
}
.container-six .box .line-eight {
  transform: rotate(157.5deg);
}
.container-six .cr {
  width: 250px;
  height: 250px;
  background-color: gainsboro;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.container-six .cr::before {
  position: absolute;
  background-color: #97A9BD;
  content: "";
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
}
.container-six .cr::after {
  position: absolute;
  background-color: white;
  content: "25%";
  height: 86%;
  width: 86%;
  top: 7%;
  left: 7%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
@-webkit-keyframes london {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes london {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-six .box-one {
  width: 280px;
  height: 280px;
  position: relative;
  border-radius: 50%;
}
.container-six .box-one .line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.379);
  top: 0;
  left: calc(50% - 1px);
}
.container-six .box-one .line-two {
  transform: rotate(22.5deg);
}
.container-six .box-one .line-three {
  transform: rotate(45deg);
}
.container-six .box-one .line-four {
  transform: rotate(67.6deg);
}
.container-six .box-one .line-five {
  transform: rotate(90deg);
}
.container-six .box-one .line-six {
  transform: rotate(112.5deg);
}
.container-six .box-one .line-seven {
  transform: rotate(135deg);
}
.container-six .box-one .line-eight {
  transform: rotate(157.5deg);
}
.container-six .cr-one {
  width: 250px;
  height: 250px;
  background-color: gainsboro;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.container-six .cr-one::before {
  position: absolute;
  background-color: #97A9BD;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}
.container-six .cr-one::after {
  position: absolute;
  background-color: white;
  content: "50%";
  height: 86%;
  width: 86%;
  top: 7%;
  left: 7%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
@keyframes london {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-six .box-one {
  width: 280px;
  height: 280px;
  position: relative;
  border-radius: 50%;
}
.container-six .box-one .line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.379);
  top: 0;
  left: calc(50% - 1px);
}
.container-six .box-one .line-two {
  transform: rotate(22.5deg);
}
.container-six .box-one .line-three {
  transform: rotate(45deg);
}
.container-six .box-one .line-four {
  transform: rotate(67.6deg);
}
.container-six .box-one .line-five {
  transform: rotate(90deg);
}
.container-six .box-one .line-six {
  transform: rotate(112.5deg);
}
.container-six .box-one .line-seven {
  transform: rotate(135deg);
}
.container-six .box-one .line-eight {
  transform: rotate(157.5deg);
}
.container-six .cr-two {
  width: 250px;
  height: 250px;
  background-color: #97A9BD;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.container-six .cr-two::before {
  position: absolute;
  background-color: gainsboro;
  content: "";
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
}
.container-six .cr-two::after {
  position: absolute;
  background-color: white;
  content: "75%";
  height: 86%;
  width: 86%;
  top: 7%;
  left: 7%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
@keyframes london {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-six .cr-three {
  width: 250px;
  height: 250px;
  background-color: #97A9BD;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.container-six .cr-three::before {
  position: absolute;
  background-color: #97A9BD;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}
.container-six .cr-three::after {
  position: absolute;
  background-color: white;
  content: "100%";
  height: 86%;
  width: 86%;
  top: 7%;
  left: 7%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
@keyframes london {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 744px) {
  .container-six .main-wraper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .container-six .main-wraper .box {
    width: 180px;
    height: 180px;
  }
  .container-six .main-wraper .box-one {
    width: 180px;
    height: 180px;
  }
  .container-six .main-wraper .cr {
    width: 150px;
    height: 150px;
  }
  .container-six .main-wraper .cr-one {
    width: 150px;
    height: 150px;
  }
  .container-six .main-wraper .cr-two {
    width: 150px;
    height: 150px;
  }
  .container-six .main-wraper .cr-three {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .container-six .main-wraper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
  .container-six .main-wraper .box {
    width: 280px;
    height: 280px;
  }
  .container-six .main-wraper .box-one {
    width: 280px;
    height: 280px;
  }
  .container-six .main-wraper .cr {
    width: 250px;
    height: 250px;
  }
  .container-six .main-wraper .cr-one {
    width: 250px;
    height: 250px;
  }
  .container-six .main-wraper .cr-two {
    width: 250px;
    height: 250px;
  }
  .container-six .main-wraper .cr-three {
    width: 250px;
    height: 250px;
  }
}

.container-seven {
  padding: 60px 0;
  width: 100%;
  background-color: #97A9BD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.container-seven h3 {
  padding: 0 40px;
}
.container-seven .wraper-box {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-seven .wraper-box .img-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-seven .wraper-box .img-wraper img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
@media screen and (min-width: 440px) {
  .container-seven .wraper-box .img-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: start;
    gap: 20px;
  }
}
.container-seven .wraper-box .white-box {
  margin-top: 30px;
  width: 90%;
  color: black;
  background-color: white;
  padding: 30px;
  border-radius: 45px 0 45px 0px;
}
@media screen and (min-width: 744px) {
  .container-seven .main-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.container-eight {
  padding: 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.container-eight h3 {
  padding: 0 40px;
}
.container-eight .main-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.container-eight .img-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.container-eight .img-wraper img {
  width: 270px;
  height: 240px;
}
.container-eight .img-wraper .item-hover {
  width: 270px;
  height: 240px;
  position: absolute;
  top: 0;
  transition: 0.5s;
  cursor: pointer;
  font-size: 60px;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-eight .img-wraper .item-hover:hover {
  background-color: rgba(0, 0, 0, 0.505);
  color: white;
}
.container-eight .img-wraper .item-line {
  background-color: #282E39;
  width: 270px;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-eight .img-wraper .item-line i {
  padding: 0 5px;
}
.container-eight .img-wraper .text-container {
  padding-left: 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.454);
  margin-top: 30px;
  width: 270px;
  text-align: start;
}
.container-eight .img-wraper .text-container .tx-paragraph {
  margin-top: 20px;
  color: #97A9BD;
  font-size: 17px;
}
@media screen and (min-width: 744px) {
  .container-eight .main-wraper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  .container-eight .main-wraper img {
    width: 190px;
    height: 150px;
  }
  .container-eight .main-wraper .item-hover {
    width: 190px;
    height: 150px;
  }
  .container-eight .main-wraper .item-line {
    width: 190px;
    font-size: 11px;
  }
  .container-eight .main-wraper .text-container {
    width: 190px;
  }
}
@media screen and (min-width: 1024px) {
  .container-eight .main-wraper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  .container-eight .main-wraper img {
    width: 370px;
    height: 340px;
  }
  .container-eight .main-wraper .item-hover {
    width: 370px;
    height: 340px;
  }
  .container-eight .main-wraper .item-line {
    width: 370px;
    font-size: 18px;
  }
  .container-eight .main-wraper .text-container {
    width: 370px;
  }
}

.container-nein {
  padding: 60px 0;
  width: 100%;
  background-color: rgba(165, 166, 170, 0.1607843137);
  text-align: center;
}
.container-nein h3 {
  padding: 0 40px;
}
.container-nein .main-wraper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-nein .item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.container-nein .item-box .phone-box {
  width: 90%;
  background-color: white;
  display: flex;
  text-align: start;
  gap: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
}
.container-nein .item-box .phone-box:hover {
  background-color: #A197BD;
}
.container-nein .item-box .phone-box:hover:hover .cr {
  background-color: white;
  color: #A197BD;
}
.container-nein .item-box .phone-box:hover:hover .about {
  color: white;
}
.container-nein .item-box .phone-box .cr {
  background-color: #A197BD;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container-nein .item-box .phone-box .about {
  width: 70%;
}
.container-nein .item-box .mail-box {
  width: 90%;
  background-color: white;
  display: flex;
  text-align: start;
  gap: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
}
.container-nein .item-box .mail-box:hover {
  background-color: #BDA697;
}
.container-nein .item-box .mail-box:hover:hover .cr {
  background-color: white;
  color: #BDA697;
}
.container-nein .item-box .mail-box:hover:hover .about {
  color: white;
}
.container-nein .item-box .mail-box .cr {
  background-color: #BDA697;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container-nein .item-box .mail-box .about {
  width: 70%;
}
.container-nein .item-box .location-box {
  width: 90%;
  background-color: white;
  display: flex;
  text-align: start;
  gap: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
}
.container-nein .item-box .location-box:hover {
  background-color: #97BDAB;
}
.container-nein .item-box .location-box:hover:hover .cr {
  background-color: white;
  color: #97BDAB;
}
.container-nein .item-box .location-box:hover:hover .about {
  color: white;
}
.container-nein .item-box .location-box .cr {
  background-color: #97BDAB;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container-nein .item-box .location-box .about {
  width: 70%;
}
.container-nein .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-nein .main-container .text-container {
  width: 90%;
  text-align: start;
}
.container-nein .main-container .text-container h2 {
  font-size: 17px;
}
.container-nein .main-container .text-container p {
  margin-top: 20px;
}
.container-nein .main-container .itput-box {
  text-align: start;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}
.container-nein .main-container .itput-box input {
  height: 45px;
  padding: 0 10px;
  outline: none;
  transition: 0.5s;
  border: transparent;
}
.container-nein .main-container .itput-box input:focus {
  border: 1px solid #97A9BD;
}
@media screen and (min-width: 744px) {
  .container-nein .main-wraper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
  }
  .container-nein .main-wraper .item-box {
    width: 50%;
  }
  .container-nein .main-wraper .main-container {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .container-nein .main-wraper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
  }
  .container-nein .main-wraper .item-box {
    width: 50%;
  }
  .container-nein .main-wraper .main-container {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */